<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedbank</title>

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="./events.css">

</head>
<body>
  <nav id="jojo" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">      <img src="./logo.png" id="logo" alt="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <hidden id="username" th:value="${uname}"></hidden>
    <hidden id="sessionid" th:value="${sessionid}"></hidden>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/events}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/join}"><b>Join Event</b></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/eventcreate}">Create Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/createtemplate}">Create Template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/signout}">Logout</a>
        </li>

      </ul>
      
    </div>
  </nav>

  <div class="container">

      <h1 th:text="'Event '+${sessionInfo.eventName} + ' | Session ' +${sessionInfo.sessionName}"></h1>
      <hr>
      <h2 id="mood_output">  </h2>

      <h3 th:text="'Event Code: ' + ${sessionInfo.eventCode} "> Audience Mood: </h3>
      <h5 th:text="'Session Ends: ' + ${sessionInfo.sessionEndDate} "></h5>

      
      <div id="feedbackbox" class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 100%; max-height: 800px;">
        <div id="responseTemplate" class="hidden">
          <div class="row">
            <div class="col-1">
            </div>
            <div class="col">
                <div class="card w-175">
                  <h5 class="card-header">Jojo 15:39</h5>
                  <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?: </h5>
                    <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  </div>
                  <div class="card-footer bg-transparent ">Mood: </div>

                </div>
              </div>
            </div>
        </div>


      </div>
      <!-- <input type="submit"  value="End Session">-->

      <div class="waiting">
        We are waiting to enter the session.
      </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.js"></script>	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>	
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
var stompClient = null;
var session = $('#sessionid');
var name = document.getElementById("username").getAttribute("value").trim();
var waiting = document.querySelector('.waiting');
var stompClient = null;
var currentSubscription;
var topic = null;
var username;

var classifcation_values = {"negative":20,"neutral":50,"unclassified":50,"positive":80}

var mood_output = null;
var mood_array = Array();
var mood = 50;

function onConnected() {
  enterSession(document.getElementById("sessionid").getAttribute("value"));
  waiting.classList.add('d-none');

}

function onError(error) {
  waiting.textContent = 'Something went wrong!';
}

function enterSession(newsessionId) {
  var sessionId = newsessionId;
  topic = `/session-app/session/${newsessionId}`;

  currentSubscription = stompClient.subscribe(`/live-session/${sessionId}`, onMessageReceived);
  var username = document.getElementById("username").getAttribute("value").trim();
  stompClient.send(`${topic}/addUser`,
    {},
    JSON.stringify({sender: username, type: 'JOIN'})
  );
}
function onMessageReceived(payload) {
    var message = JSON.parse(payload.body);
    if(message.type == "QUESTION"){
      if(message.content == null){
        return;
      }
      var box = document.getElementById("feedbackbox");
      var toClone =  document.getElementById("responseTemplate");
      var clone = toClone.cloneNode(true);
      console.log(message.classification);
      clone.id="";
      clone.querySelector(".card-text").innerHTML = message.content;
      clone.querySelector(".card-title").innerHTML = message.question;
      clone.querySelector(".card-header").innerHTML = message.sender;
      clone.querySelector(".card-footer").innerHTML = "Mood: "+message.classification;
      updateAudienceMood(classifcation_values[message.classification]);
      clone.setAttribute('class','');

      box.appendChild(clone);
    }else if(message.type == "MOOD"){
        updateAudienceMood(message.mood);
    }

}

function updateAudienceMood(value){
      mood = ((mood*mood_array.length) +value)/(mood_array.length+1);
      mood_array.push(value);
      var mood_desc = "Excellent"
      if(mood<20){
        mood_desc = "Poor"
      }else if(mood< 51){
        mood_desc = "Okay"
      }else if(mood < 85){
        mood_desc  = "Good"
      }
      mood_output.innerHTML = "Audience Mood: "+Math.trunc(mood) + " | "+mood_desc;
}

$(document).ready(function() {
  mood_output = document.getElementById("mood_output");
  mood_output.innerHTML= "Audience Mood: No data"
  var name1 = document.getElementById("username").getAttribute("value").trim();
  var socket = new SockJS('/sock');
  stompClient = Stomp.over(socket);
  stompClient.connect({}, onConnected, onError);
});
  </script>
  </html>